{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>
</style>

<div class="example-wrapper">
    <h1 class="text-center">Page d'accueil.✅</h1>
    



<table>
    <tr>
        {# sorting of properties based on query components #}
        <th>
            {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}
        </th>
        <th{% if pagination.isSorted('a.titre') %} class="sorted"{% endif %}>
            
            {{ knp_pagination_sortable(pagination, 'Title', 'a.titre') }}
        </th>
       
    </tr>


    {# table body #}
    {% for a in pagination %}
             <p>{{ a.id }}</p>
           
          
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{# display navigation #}

{% endblock %}

