{% extends 'base.html.twig' %}

{% block title %}PostPage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Post number  {{ idPost }} ✅</h1>
   <img class="rounded-lg md:w-56" 
        src="https://writology.com/userdata/faq/write.jpg"
        class="doc-item " alt="Responsive image"/>

    <h3>informations about this post.:<h3>
    <p><img >
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Phasellus imperdiet, nulla et dictum interdum, nisi 
 lorem egestas odio, vitae scelerisque enim ligula 
 venenatis dolor. Maecenas nisl est, ultrices nec congue
  eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet
  </p>
   <p><img >
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Phasellus imperdiet, nulla et dictum interdum, nisi 
 lorem egestas odio, vitae scelerisque enim ligula 
 venenatis dolor. Maecenas nisl est, ultrices nec congue
  eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet
  </p>
     <p><img >
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Phasellus imperdiet, nulla et dictum interdum, nisi 
 lorem egestas odio, vitae scelerisque enim ligula 
 venenatis dolor. Maecenas nisl est, ultrices nec congue
  eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet
  </p>
     <p><img >
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Phasellus imperdiet, nulla et dictum interdum, nisi 
 lorem egestas odio, vitae scelerisque enim ligula 
 venenatis dolor. Maecenas nisl est, ultrices nec congue
  eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet
  </p>
      <a href="{{path('editPost', {idPost:article.id}) }}">Modifier<a/>
      <a href="#" onclick="event.preventDefault(); confirm('Supprimer ce post ?') &&
         document.getElementById('form-id').submit();">Supprimer<a/>      
        <form id ="form-id" action="{{path('deletePost', {idPost:article.id}) }}" method="post" style="display">
        <input type="hidden" method="_method"  value="DELETE"/>

      </form>
</div>
{% endblock %}
